body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    background-color: azure;
}

header {
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a{
    color: brown;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: rgb(64, 127, 74);
    border-radius: 6px;
}

main {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: rgb(40, 39, 39);
    color: white;
}

@media (min-width: 600px){
    body{
        font-size: 18px;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        margin-bottom: 0;
    }

    nav ul li a {
        padding: 12px;
    }
}

@media (min-width: 992px){
    body{
        font-size: 20px;
        padding: 20px;
    }

    nav ul {
        justify-content: flex-start;
    }

    nav ul li {
        margin-right: 15px;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    article {
        width: 65%;
        text-align: justify;
    }

    aside{
        width: 30%;
        background-color: cadetblue;
        padding: 15px;
        border-radius: 4px;
        text-align: justify;
    }
}